* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --white: rgb(220, 220, 220);
    --whiteMedium: rgb(180, 180, 180);
    --black: rgb(30, 30, 30);
    --enphasis: rgb(235, 57, 57);
    --barEnphasis: aquamarine;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    padding: 20px;

    .mainContainer {

        .topBox {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;

            .lineSeparator {
                width: 8px;
                height: 50%;
                margin: 0 80px;
                background-color: var(--whiteMedium);
            }

            .counterBox {
                display: flex;
                align-items: center;

                .counter {
                    display: flex;
                    width: 200px;
                    height: 100%;
                    font-family: "Audiowide";
                    font-Size: 80px;
                    font-weight: bolder;
                    color: var(--whiteMedium);
                }

                &:nth-child(1 of &) {
                    justify-content: flex-end;

                    .counter {
                        justify-content: flex-end;
                    }

                }

                &:nth-child(2 of &) {
                    justify-content: flex-start;
                }

            }
        }

        .gameContainer {
            width: 100%;
            height: calc(100% - 100px);
            padding: 20px;
            border: 4px solid var(--white);
            border-radius: 20px;

            .gameBox {
                border: 2px solid gray;
                border-radius: 16px;
                background-image: radial-gradient(circle, rgba(105, 105, 105, 0.253) 1px, transparent 1px);
                background-size: 4px 4px;
                box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5);
                overflow: hidden;

                .gameLineSeparator {
                    z-index: -1;
                    left: calc(50% - 2px);
                    width: 4px;
                    height: 100%;
                    background-color: rgba(128, 128, 128, 0.2);
                }

                .bar {
                    top: calc(50% - 50px);
                    width: 20px;
                    height: 100px;
                    border: 2px solid white;
                    border-radius: 4px;
                    background-color: rgba(255, 255, 255, 0.6);
                }

                .barReady {
                    animation: barReady 5s linear infinite;
                }

                .leftBar {
                    left: 20px;
                }

                .rightBar {
                    right: 20px
                }

                .ball {
                    width: 24px;
                    aspect-ratio: 1/1;
                    background-color: white;
                    box-shadow: 0 0 30px white;
                    border-radius: 50%;
                }

                .sideSelectorsBox {
                    display: flex;
                    justify-content: space-between;
                    width: 600px;
                    height: 100px;

                    .sideBox {
                        z-index: 99;
                        width: 200px;
                        height: 100%;
                        background-color: var(--black);
                        cursor: pointer;
                        transition: 100ms;

                        &:hover {
                            color: white;
                            border: 3px solid white;
                            box-shadow: 0 0 40px var(--enphasis), inset 0 0 40px var(--enphasis);
                        }

                        &:has(.hiddenSelector:checked) {
                            color: white;
                            border: 3px solid white;
                            box-shadow: 0 0 40px var(--enphasis), inset 0 0 40px var(--enphasis);
                        }
                    }
                }

                .sideSelectorsBox_expanded {
                    width: 900px;
                }

                .pressSpace {
                    width: 0;
                    height: 60px;
                    background-color: var(--black);
                    overflow: hidden ;

                    .spaceText {
                        display: flex;
                    }
                }

                .pressSpace_expanded {
                    width: 400px;
                }

                .pressSpace_pulse {
                    animation: pulseSpace 5s linear infinite;
                }
            }
        }
    }
}

@keyframes pulseSpace {
    0% {
        box-shadow: 0 0 40px transparent, inset 0 0 40px transparent;
        color: gray;
        text-shadow: 0 0 10px transparent;
    }

    10% {
        border: 2px solid white;
        box-shadow: 0 0 40px var(--barEnphasis), inset 0 0 40px var(--barEnphasis);
        color: white;
        text-shadow: 0 0 4px var(--barEnphasis);
    }

    20% {
        border: 2px solid gray;
        box-shadow: 0 0 40px transparent, inset 0 0 40px transparent;
        color: gray;
        text-shadow: 0 0 10px transparent;
    }
}

@keyframes barReady {
    0% {
        box-shadow: 0 0 40px transparent;
    }

    10% {
        box-shadow: 0 0 40px var(--barEnphasis), inset 0 0 20px var(--barEnphasis);
    }

    20% {
        box-shadow: 0 0 40px transparent;
    }
}

.max {
    width: 100%;
    height: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.tempo300 {
    transition: 300ms ease-out;
}

.tempo600 {
    transition: 600ms;
}

.hiddenSelector {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gameText {
    font-family: "Orbitron";
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 4px;
    color: gray;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}